#user-show  
  #us-right.medium-8.medium-push-4.columns
    %h2.text-center #{ @user.name }
    - if @wikis.any?
      %h3 Wikis:
      = render @wikis
    - else
      %p #{ @user.name } has not created any wikis (that you have permission to view)
    - if ( current_user == @user ) 
      = link_to 'New Wiki', new_wiki_path(@wiki), class: 'button'

  #us-left.medium-4.medium-pull-8.columns
    %h4 User Info
    %ul
      %li #{@user.role.capitalize} User
      %li Has #{pluralize(@user.wikis.length, Wiki)}
      %li Member since #{@user.created_at.strftime('%B %-d, %Y')}
      %li Last seen on #{@user.created_at.strftime('%B %-d, %Y')}
      - if @user.homepage
        %li= link_to @user.homepage