#wiki-form.large-6.columns
  = simple_form_for @wiki do |f|
    = f.input :title, placeholder: 'Title'
    = f.input :body, label: "Body", placeholder: 'You can use Markdown here!', input_html: {rows: 14}
    - if current_user.premium? || current_user.admin?
      = f.input :private, label: "Make this private"
      %label Note that everyone may contribute by default if this is not a private wiki 
      = f.association :contributors, :collection => User.all, :label => 'Add Contributors (ctrl-click to select multiple)'
    = f.submit "Save", class: "button radius"
    = link_to "Preview", '#', class: 'button radius prev-btn'
#wiki-preview.large-6.columns
  - start_title = @wiki.title || 'Preview Area'
  - start_body = @wiki.body || '(You can use [Markdown](https://daringfireball.net/projects/markdown/) in your body to make this look pretty)'
  %h3= start_title
  #preview-body= markdown_to_html(start_body)
