%ul.breadcrumbs
  %li= link_to 'BLOCIPEDIA', root_path
  %li= link_to @wiki.owner.name, user_path(@wiki.owner)
  %li.current= @wiki.title
  %li.show-for-medium-up Created #{ @wiki.created_at.strftime('%B %e, %Y') }
  %li.hidden-for-medium-up Created #{ @wiki.created_at.strftime('%m/%d/%y') }
  - if (@wiki.created_at != @wiki.updated_at)
    %li.show-for-medium-up Edited #{ @wiki.updated_at.strftime('%B %e, %Y') }
    %li.hidden-for-medium-up Edited #{ @wiki.updated_at.strftime('%m/%d/%y') }

%h2 Edit this wiki
= render 'form'
