%ul.breadcrumbs
  %li= link_to 'BLOCIPEDIA', root_path
  %li= link_to @wiki.user.name, user_path(@wiki.user)
  %li.current= @wiki.title
.wiki-show.row
  %h1= @wiki.title
  %p= @wiki.body

  - if current_user
    = link_to 'Edit', edit_wiki_path(@wiki), class: 'button'
  - if ( @wiki.user == current_user )
    = link_to 'Delete', wiki_path(@wiki), method: :DELETE, class: 'button alert', data: {confirm: 'Are you really sure you want to permanently this wiki?'}