!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %title= content_for?(:title) ? yield(:title) : "BLOCIPEDIA"
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body

    #top-bar.full-width
      .show-for-large-up.large-2.columns.text-center
        = link_to 'BLOCIPEDIA', root_path
      .small-10.large-8.columns
        - if current_user
          Welcome, #{'&#9734;'.html_safe if current_user.premium?}#{ link_to current_user.name, user_path(current_user) } ||
          = link_to "Log out", destroy_user_session_path, method: :delete
        - else
          = render 'welcome/login'
      .small-2.large-2.columns
        = link_to 'About Blocipedia', about_path
    
    = render 'welcome/show_flash'

    .row
      = yield
    

